* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 428px) {
    body {
        background-image: url('https://images.vexels.com/media/users/3/100573/raw/87a0016eba9dfcb922a1ce768f500f2f-abstract-colorful-background-vector-art-graphic.jpg');

    }
    nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        backdrop-filter: blur( 13px );
        -webkit-backdrop-filter: blur( 13px );

    }
    nav p {
        color: white;
        margin-left: 30px ;

    }
    img {
        width: 12vw;
        height: 50px;
        border-radius: 50%;
        margin-right: 30px;

    }
    main {
        overflow-y: scroll;
        height: 100vh;
    }
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow-y: scroll;

        background: rgba( 48, 3, 62, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );    

    }
    .ask {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 1vh;
        padding: 12px;
        
        background: rgba( 48, 3, 62, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );    }
    h1 {
        padding: 20px;
        text-align: center;
        color: #f1f1f1;
        font-size: medium;


    }

    .firstUser {
        display: flex;
        align-items: center;
        align-self: flex-end;
    }
    .firstUser img {
        margin-left: 15px;
    }
    .firstUser p {
        background-color: #606582;
        padding: 20px;
        border-radius: 20px 20px 1px 20px;
        margin-bottom: 3vh;
        text-align:justify ;
        color: #30033e;

        /* background: rgba( 48, 3, 62, 0.65 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        -webkit-backdrop-filter: blur( 13px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );   */

    background: rgba( 255, 255, 255, 0.57 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 20px 20px 1px 20px;
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    }
    .otherUser {
        display: flex;
        align-items: center;
        align-self: flex-start;

    }
    .otherUser img {
        margin-right: 15px;
        margin-left: 30px;
    }
    .otherUser p {
        background-color: #606582;
        padding: 16px;
        border-radius: 20px 20px 20px 1px;
        margin-bottom: 3vh;
        margin-right: 6vw;
        text-align:justify ;
        color: #f1f1f1;

        background: rgba( 60, 198, 97, 0.65 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        -webkit-backdrop-filter: blur( 13px );
        border-radius: 20px 20px 20px 1px;
        border: 1.2px solid rgba( 255, 255, 255, 0.18 );
    }
    footer {
        width: 100%;
        height: 10vh;
        background-color: #191a21 ;

        background: rgba(127, 127, 131, 0.137);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );    
    }
    .sender {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sender span {
        margin-left: 3vw;
    }
    .sender input {
        width: 80vw;
        height: 6vh;
        border-radius: 20px 20px 20px 20px;

    }
}