* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 720px) {
    body {
        background-image: url('https://images.vexels.com/media/users/3/100573/raw/87a0016eba9dfcb922a1ce768f500f2f-abstract-colorful-background-vector-art-graphic.jpg');
        background-repeat: no-repeat;
    }
    main {
        position: relative;
    }
    nav {
        width: 100vw;
        height: 13vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        z-index: 11;
    }
    nav p {
        color: white;
        margin-left: 30px ;

    }
    img {
        width: 12vw;
        height: 14vw;
        border-radius: 50%;
        margin-right: 30px;

    }
    .container {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-center;
        align-items: center;
        overflow-y: scroll;

        background: rgba( 48, 3, 62, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );    
    }
    .ask {
        width: 80vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 1vh;
        padding: 12px;
        
        background: rgba( 48, 3, 62, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );    }
    h1 {
        padding: 20px;
        text-align: center;
        color: #f1f1f1;
        font-size: medium;
    }

    .firstUser {
        display: flex;
        align-items: center;
        align-self: flex-end;
    }
    .firstUser img {
        margin-left: 15px;
    }
    .firstUser p {
        background-color: #606582;
        padding: 20px;
        border-radius: 20px 20px 1px 20px;
        margin-bottom: 3vh;
        text-align:justify ;
        color: #30033e;

        background: rgba( 255, 255, 255, 0.57 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 20px 20px 1px 20px;
        border: 1.5px solid rgba(255, 255, 255, 0.18);
    }
    .otherUser {
        display: flex;
        align-items: center;
        align-self: flex-start;

    }
    .otherUser img {
        margin-right: 15px;
        margin-left: 30px;
    }
    .otherUser p {
        background-color: #606582;
        padding: 16px;
        border-radius: 20px 20px 20px 1px;
        margin-bottom: 3vh;
        margin-right: 6vw;
        text-align:justify ;
        color: #f1f1f1;

        background: rgba( 60, 198, 97, 0.65 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        -webkit-backdrop-filter: blur( 13px );
        border-radius: 20px 20px 20px 1px;
        border: 1.2px solid rgba( 255, 255, 255, 0.18 );
    }
    footer {
        width: 100vw;
        height: 10vh;
        background: rgba(127, 127, 131, 0.137);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );    
    }
    .sender {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }
    .sender span {
        margin-left: 3vw;
    }
    .sender input {
        width: 80vw;
        height: 5.2vh;
        border-radius: 20px 20px 20px 20px;

    }
    .audioIcon{
        border-radius: 100%;
        height: 30px;
    }
    .audioIcon:hover{
        background-color: #2e0f4c85;
    }
    .audioIcon svg {
        color: #cfaab8;
        margin-top: 5px;
    }
    .emojiIcons{
        border-radius: 100%;
        height: 27px;
    }
    .emojiIcons:hover{
        background-color: #2e0f4c85;
    }
    
    .emojiIcons svg {
        color: #cfaab8;
        margin: 3px;

    }
    .sendMessage{
        margin-right: 30px;
        border-radius: 100%;
        width: 50px;
        height: 35px;
        padding-left: 2px;
    }
    .sendMessage:hover{
        background-color: #2e0f4c85;
    }
    .sendMessage svg {
        transform: rotate(45deg);
        color: #cfaab8;
        margin-top: 4.3px;

    }
}