* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;

}
h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    margin-left: 2vw;
    position: relative;
    bottom: 12px;
}
h1::first-letter{
    font-size: 1.3em;
    font-weight: 400;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.menu{
    width: 19vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    position:absolute;
    left: -15vw;
    transition: left 0.4s;

/* border: 1px solid rgba(130, 211, 255, 0.22); */
}
.menu{
    background: rgba(130, 211, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20.5px);
    -webkit-backdrop-filter: blur(20.5px);
}

.arrow-icon {
    position: absolute;
    left: 87%;
    top: 50vh;
    width: 10vw;
}

.visible{
    left: 0;
    transition: left 0.2s;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 2px #3d3d3d;


}
.left {
    cursor: pointer;
    opacity: 0.3;
}
.left:hover {
    opacity: 1;
    transition: opacity 0.4s;
}

.right {
    display: none;
}
.menu.visible .right {
    display: block;
    cursor: pointer;
    opacity: 0.3;
}
.menu.visible .right:hover{
    opacity: 1;
    transition: opacity 0.4s;
    
}
.menu.visible .left{
    display: none;
}

#all-boards {
    width: 15;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}
.new-board {
    margin: 2vh 2vh;
}
/* .new-board:hover {
    background-color: #3d3d3d;
    color: blue;
} */
.menu button, .menu p{
    position: relative;
    width: 13vw;
    height: 6vh;
    margin-left: 1vw;


}
#task-container {
    width: 77vw;
    /* transition: width 1s; */

}
#task-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 96%);
    z-index: 0;

}
.header {
    height: 14vh;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    z-index: 1;
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */

}
.board-name {
    position: relative;
    margin-left: 7vw;
    top: 5.2vh;
    font-weight: 400;
    font-size: 1.7em;
}
/* #add-task {
    width: 10vw;
    height: 6vh;
    align-self: center;
    margin-right: 7vw;
    margin-top: 2.4vh;
    
} */
.task-board {
    align-self: center;
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin-top: 10vh;
}
@keyframes opacity{
    from {filter: alpha(opacity=80);
        opacity: 0;}
        to {
            opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
        }
}

.new-task{
    display: none;
}
.new-taskOn {
    width: 40vw;
    height: 60vh;
    position: absolute;
    top: 32vh;
    left: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation-name: opacity;
    animation-duration: 0.3s;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(186, 186, 186, 0.2);

}
input[type=submit]{
    /* From https://css.glass */
background: rgba(245, 245, 245, 0.28);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.6px);
-webkit-backdrop-filter: blur(9.6px);
border: 1px solid rgba(245, 245, 245, 0.19);

}

#new-taskOff{
    display: none;
}

#title-task {
    width: 35vw;
    height: 10vh;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 7px;
    background-color: #c2c2c22d;
    color: #1b1d24;


}
#task-description {
    width: 35vw;
    height: 12vh;
    /* border: none; */
    border-radius: 10px;
    resize: none;
    font-size: 1.5rem;
    padding: 7px;
    color: #1b1d24 ;
    background-color: #c2c2c22d;

}
#confirm-task {
    width: 10vw;
    height: 5vh;
}
#clear-task {
    width: 10vw;
    height: 5vh;
}
.new-column {
    align-self: flex-end;
    position: relative;
    font-size: 0.57em;
    bottom: 2.7vh;
    right: 1vw;
    opacity: 0.7;
    width: 10vw;
    display: none;
}

.to-do {
    flex-grow: 1;  
    flex-basis:45vw;
    margin-left: 5vw;
}
.doing {
    flex-grow: 1;    
    flex-basis:45vw;
    margin-left: 5vw;


}
.done {
    flex-grow: 1;    
    flex-basis:45vw;
    margin-left: 5vw;

}
.task-status {
    font-size: 2rem;
}


.add-btn {
    /* width: 10px;
    height: 6vh; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 7vw;
    margin-top: 0.1vh;
    font-size: 20px;
    cursor: pointer;
    gap: 10px;

}
svg {
    align-self: center;

}
.off {
    display: none;
}

#add-board{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 1vw;
    gap: 5px;
    font-size: 1.6rem;
    cursor: pointer;
}

.dark-body{
    background-color: #1b1d24;
    color: #50fa7b;
}
.dark-h1 {
    color: #ff79b6;
    
}
#task-container.dark{
    background-color: #282a36;
    /* color:#93caff; */
    color: #f5f5f5;
}
.dark-tasks{
    color: #f375ae ;
}

@keyframes buttonChange{
    from {
        color: #282a36;
        background-color: #50fa7b;
        border-radius: 16px;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.6px);
        -webkit-backdrop-filter: blur(9.6px);
        /* border: 1px solid rgba(80, 250, 123, 0.19); */
    }
        to {
            color: #50fa7b;
            background-color: #282a36;
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9.6px);
            -webkit-backdrop-filter: blur(9.6px);
            /* border: 0.1px solid rgba(80, 250, 123, 0.19); */
            
            
        }
}

#darktheme{
    display: flex;
    position:relative ;
    width: 90%;
    left: -67%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    justify-content: center;
    justify-content: center;
    transition: left 1s;
    animation: buttonChange 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    color: #282a36;
    background-color: #50fa7b;
    border-radius: 5px;
    padding: 2px 4px;
}
#darktheme:hover{
    left: 0;
    transition: left 0.3s;

}
.sun, .moon{
    border-radius: 5px;
    position: relative;
    animation: buttonChange 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* .moon {
    color: #282a36;
}
.sun {
    color:hsl(0, 0%, 100%)
} */
.new-task.dark-body{
background: rgba(228, 98, 157, 0.02);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.20);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(228, 98, 157, 0.32);

}
.new-task.dark-body textarea{
    background-color: #282a36;
    color: #f375ae;
    
    
}
