*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}
.card-area-container{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 5.6vw;


}
#form-area {
    height: 100vh;
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    background-color: #f4f4f4;
    border-radius: 4px;
    position:relative ;
    left: -26em;
    background: rgba(255, 249, 248, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(255, 249, 248, 0.3);
}

#form-area:hover {
    left: 1em;
}

h1 {
    font-size: 30px;
}
#form {
    display:flex;
    height: 70vh;
    width: 25rem;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 1em;
}
#form label {
    font-size: 1.6rem;
}

input {
    width: 23rem;
    height: 6vh;
    padding-left: 1rem;
    font-size: 1.6rem;
}
button {
    width: 8vw;
    height: 6vh;
}
textarea {
    height: 20vh;
    width: 23rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.6rem;

}


.card-area{
    width: 88vw;
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    gap: 1vw;
    margin-top: 3rem;

}

#primary-area{
    overflow-y:auto ;
    scroll-behavior: smooth;
    align-self: flex-start;
}
#secondary-area{
    overflow-y:auto ;
    scroll-behavior: smooth;
    align-self: flex-start;
    position: relative;
    bottom: 3rem;
    z-index: 0;
}

#secondary-area::-webkit-scrollbar, #primary-area::-webkit-scrollbar{
    display: none;
}
.right{
    position: fixed;
    align-self: flex-start;
    right: 1vw;
    top:20vh;
    z-index: 9;
    opacity: 0.2;
    background-color: #f4f4f4;
}
.left{
    position: fixed;
    margin-left: 1vw;
    top:20vh;
    z-index: 9;
    opacity: 0.2;
    background-color: #f4f4f4;

}
.right:hover, .right.secondary:hover{
    background-color: aliceblue;
    border-radius: 10px;
    opacity: 0.8;
    transition: opacity 1s;
}
.left:hover, .left.secondary:hover{
    background-color: aliceblue;
    border-radius: 10px;
    opacity: 0.8;
    transition: opacity 1s;
}


.right.secondary{
    position: fixed;
    right: 1vw;
    top:70vh;
    z-index: 10;
    opacity: 0.2;
    background-color: #f4f4f4;

}
.left.secondary{
    position: fixed;
    margin-left: 1vw;
    top:70vh;
    z-index: 10;
    opacity: 0.2;
    background-color: #f4f4f4;

}


.card-area .card{
    position: relative;
    cursor: pointer;
    height: 26vh;
    width: 20vw;
    gap: 1rem;

}
.card-area .card .face{
    width: 20vw;
    height: 20vh;
    transition: 0.5;
}

.card-area .card .face.face1 {
    position: relative;
    background: #ff79b6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    transform:  translateY(6vh);
}


.card-area .card:hover .face.face1 {
    background-color: blueviolet;
    transform: translateY(1em);
}
.card-area .card .face.face1 .content{
    opacity: 1;
    transition: 0.8s;
}

.card-area .card:hover .face.face1 .content{
    opacity: 1;
}

.card-area .card .face.face .content img {
    width: 20vw;
    height: 20vh;
    gap: 1rem;
    object-fit: cover;

}

.card-area .card .face.face .content h2 {
    margin: 10px 0 0;
    padding: 0 0 0 0.4rem;
    color: #181111;
    text-align: flex-start;
    font-size: 1.3em;
    position: relative;

}
.card-area .card .face.face2{
    position: relative;
    background: #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-14vh);
}

.card-area .card:hover .face.face2{
    transform: translateY(0);
}

.card-area .card .face.face2 .content h4{
    margin-top: 1.8rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: justify;
}
/* .card-area .card .face.face2 .content a{
    margin: 15px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #FFFF;
    padding: 3px;
    border: 1px solid #333;
} */

.card-area .card .face.face2 .content a:hover{
    background: #333;
    color: #FFF;

}

#text-area {
    resize: none;
}

@media (max-width: 768px) {

    .card-area .card .face.face2 .content h4{
        margin-top: 1rem;
        font-size: 1.4vw;
        text-align: justify;
    }
    .card-area .card .face.face .content h2 {
        margin: 10px 0 0;
        padding: 0 0 0 0.4rem;
        color: #181111;
        text-align: center;
        font-size: 1.9vw;
        position: relative;
        bottom: 30px;
        height: 2.5vh;
        background-color: #f4f4f4;
    }

    .card-area .card .face.face .content img {
        width: 10em;
        height: 11em;
        gap: 1rem;
        object-fit: cover;
    }
    .card-area .card .face{
        width: 10em;
        height: 20vh;
        transition: 0.5;
    }

    .card-area .card{
        position: relative;
        cursor: pointer;
        height: 26vh;
        width: 20vw;
        gap: 1em;
    }

    .card-area .card:hover .face.face1 {
        background-color: blueviolet;
        transform: translateY(1em);

    }
    .card-area .card:hover .face.face2{
        transform: translateY(1em);

    }



}
@media (max-width: 480px) {
    
    #container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #202023
        ;
    
    }
    .card-area-container{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        left: 6vw;
    }
    #form-area {
        height: 20em;
        width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        z-index: 10;
        background-color: #f4f4f4;
        border-radius: 4px;
        position:relative ;
        left: -17em;
        background: rgba(255, 249, 248, 0.20);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.3px);
        -webkit-backdrop-filter: blur(11.3px);
        border: 1px solid rgba(255, 249, 248, 0.3);
        opacity: 0.2;

    }
    
    #form-area:hover {
        left: 0;
        opacity: 1;
    }
    
    h1 {
        font-size: 30px;

    }
    #form {
        display:flex;
        height: 70vh;
        width: 60vw;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10vw;
    }
    #form label {
        font-size: 1.6rem;

    }
    
    input {
        width: 8em;
        height: 2vh;
        padding-left: 1rem;
        font-size: 1.6rem;

    }
    button {
        width: 30vw;
        height: 2vh;
        margin-left: 30px;

    }
    textarea {
        height: 10vh;
        width: 8em;
        padding-left: 1rem;
        padding-top: 1rem;
        font-size: 1.6rem;

    
    }
    
    
    .small-card-area{
        width: 75vw;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:flex-start;
        gap: 15em;
        margin-top: 10vh;
        overflow-y:auto;
        scroll-behavior: smooth;


    
    }
    
    #small-card-area::-webkit-scrollbar{
        display: none;
    }
    
    .small-card-area .card{
        position: relative;
        cursor: pointer;
        height: 35vh;
        height: 11em;
        gap: 2em;

    
    }
    .small-card-area .card .face{
        width: 75vw;
        height: 11em;
        transition: 0.5;

    }
    
    .small-card-area .card .face.face1 {
        position: relative;
        background: #ff79b6;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
        transform:  translateY(3em);

    }
    
    
    .small-card-area .card:hover .face.face1 {
        background-color: blueviolet;
        transform: translateY(4em);

    }
    .small-card-area .card .face.face1 .content{
        opacity: 1;
        transition: 0.8s;

    }
    
    .small-card-area .card:hover .face.face1 .content{
        opacity: 1;

    }
    
    .small-card-area .card .face.face .content img {
        width: 75vw;
        height: 14em;
        gap: 1rem;
        object-fit: cover;

    
    }
    
    .small-card-area .card .face.face .content h2 {
        margin: 0 0 0;
        padding: 0 0 0 0.4rem;
        color: #181111;
        text-align: center;
        font-size: 3em;
        position: relative;
        background: rgba(255, 249, 248, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(11.3px);
        border: 1px solid rgba(255, 249, 248, 0.3);

        border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;

    
    }
    .small-card-area .card .face.face2{
        position: relative;
        background: #e8e8e8;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0,0,0,0.8);
        transform: translateY(-7em);

    }
    
    .small-card-area .card:hover .face.face2{
        transform: translateY(5.5em);

    }
    
    .small-card-area .card .face.face2 .content h4{
        padding: 0.5em;
        font-size: 1.5rem;
        text-align: justify;

    }
     
    #text-area {
        resize: none;

    }
    svg {
        display: none;
    }
}